:root {
  --primary-text-color: #434455;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hero-text-color: #ffffff;
  --team-color: #f4f4fd;
  --primary-color: #404bbf;
  --subtle-color: #e7e9fc;
  --group-color: #8e8f99;
  --succes-color: #31d0aa;
  --card-set-gap-top: 48px;
  --card-set-gap-left: 24px;
  --card-border: 1px solid var(--subtle-color);
  --box-gap: 24px;
  --box-margin-top: 72px;
  --section-padding-top: 120px;
  --section-padding-bottom: 120px;
  --modal-bg-color: #fcfcfc;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}
button {
  margin: 0;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
/* links */

.link {
  text-decoration: none;
  color: var(--nav-active-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.link:hover,
.link:focus {
  color: var(--primary-color);
}

/* button */

.btn {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/* logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.header {
  border-bottom: 1px solid var(--subtle-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--subtle-color);
}
.header-container {
  display: flex;
  justify-content: space-between;
}

/*nav elements */

.nav-logo-studio {
  color: var(--title-text-color);
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 76px;
  font-weight: 500;
  color: var(--title-text-color);
}
.nav-list {
  display: flex;
  gap: 40px;
  font-weight: 500;
  color: var(--title-text-color);
}
.current {
  display: block;
  position: relative;
  padding-bottom: 0;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -104%;
  border-radius: 2px;
  background-color: var(--primary-color);
}
.nav-btn {
  display: inline-block;
  padding: 0;
  border: none;
  color: var(--title-text-color);

  background-color: transparent;
}
.nav-btn .icon-close {
  display: none;
}
.nav-btn.is-open .icon-close {
  display: block;
}
.nav-btn.is-open .icon-menu {
  display: none;
}
.contact {
  font-style: normal;
  color: var(--primary-text-color);
}
.contact-list {
  display: flex;
  gap: 40px;
}

/*? hero */
.hero-wrap {
  display: block;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--title-text-color);
  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-title {
  display: block;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 48px;
  max-width: 496px;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.works-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--title-text-color);
}
.skills-bg {
  display: flex;
}
.skills-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}
.hero {
  padding: 188px 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  color: var(--hero-text-color);
}
.hidden-title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--primary-color);
}
/* todo skills */
.section {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.skills-box {
  display: flex;
  gap: var(--box-gap);
}
.list-item::before {
  display: block;
  margin-bottom: 8px;
  height: 112px;
  border-radius: 4px;
  content: "";
  background-size: 64px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--team-color);
}
.icon-antena::before {
  background-image: url(../images/icons/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}
.icon-astronaut::before {
  background-image: url(../images/icons/astronaut.svg);
}
.skills-text {
  margin-top: 8px;
}
.work-section {
  padding-bottom: var(--section-padding-bottom);
}
.works-box .list {
  display: flex;
  gap: var(--box-gap);
  margin-top: var(--box-margin-top);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--title-text-color);
}
.team-box {
  display: flex;
  gap: var(--box-gap);
  margin-top: var(--box-margin-top);
}

/* team */
.team-card-text {
  text-align: center;
  padding: 32px 16px;
}
.team-card-title {
  margin-bottom: 8px;
}
.team.section {
  background-color: var(--team-color);
}
.team-list-item {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--hero-text-color);
}
.team-social > p {
  margin-bottom: 8px;
}
.team-soc-list {
  display: flex;
  border: none;
  gap: 24px;
  justify-content: center;
}
.team-soc-item {
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--primary-color);
}
.team-soc-icon {
  fill: var(--team-color);
}
.clients {
}

.client-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
  color: var(--title-text-color);
}
.client-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.link-clients {
  display: flex;
  width: 168px;
  height: 88px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--group-color);
  border: 1px solid;
  border-radius: 4px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.client-icon {
  fill: currentColor;
}

.link-clients:hover,
.link-clients:focus .client-icon {
  color: var(--primary-color);
}
/* *portfolio menu */
.menu {
  padding-top: 96px;
  padding-bottom: 120px;
}

.list-btns {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.menu-btn {
  padding: 12px 24px;
  border: 1px solid var(--subtle-color);
  border-radius: 4px;
  color: var(--accent-color);
  background-color: var(--team-color);
  transition-property: border, color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.menu-btn:focus,
.menu-btn:hover {
  border-color: transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  color: var(--hero-text-color);
  background-color: var(--primary-color);
}
.card-set {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}
.card-set > .item {
  flex-basis: calc(100% / 3 - 48px);
}
.card-content {
  border: var(--card-border);
  border-top: transparent;
  padding: 32px 16px;
}
.thumb {
  display: block;
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  transform: translatey(100%);
  transition: transform 250ms var(--timing-function);
}
.card-overlay-text {
}
.overlay p {
  padding: 40px 32px;
  padding-bottom: ;
  color: var(--team-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.card-link {
  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.card-link:focus,
.card-link:hover {
  display: block;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.card-link:focus .overlay,
.card-link:hover .overlay {
  transform: translate(0);
}

.menu-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--title-text-color);
}

.card-text {
  color: var(--primary-text-color);
  margin-top: 8px;
}

/* footer */
.footer {
  background-color: var(--title-text-color);
}

.footer-logo-studio {
  color: var(--team-color);
}
.footer-text {
  margin-top: 16px;
  max-width: 264px;
  color: var(--team-color);
}

.footer-content {
  display: flex;
}
.footer-logo-text {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: 120px;
}
.footer-soc-media-sub {
  display: flex;
  padding-top: 100px;
  padding-bottom: 132px;
  gap: 80px;
}
.title-soc-media {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: var(--hero-text-color);
  margin-bottom: 16px;
}
.footer-soc-item {
  width: 40px;
  height: 40px;
  display: flex;
  border: none;
  justify-content: center;
}
.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent-color);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--succes-color);
}
.footer-soc-list {
  display: flex;
  border: none;
  gap: 16px;
  justify-content: center;
}
.sub-form {
  margin-top: 16px;
  display: flex;
  gap: 24px;
}
.sub-input {
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  border: 1px solid #ffffff;
  color: var(--hero-text-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}
.sub-input::placeholder {
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
}
.sub-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}
.sub-btn {
  position: relative;
  min-width: 165px;
  height: 40px;
  text-align: left;

  padding: 8px 24px;
  color: var(--hero-text-color);
  background: var(--accent-color);
  border: transparent;
  border-radius: 4px;

  transition: background 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}
.sub-btn:focus,
.sub-btn:hover {
  background: var(--primary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.sub-icon {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 24px;
  bottom: 8px;
  pointer-events: none;
  fill: currentColor;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;

  transition: opacity 250ms var(--timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 576px;
  background-color: var(--modal-bg-color);
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
  opacity: 0;
}
.modal-close-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--subtle-color);
  border-radius: 50%;

  transition-property: color, background-color;
  transition: 250ms var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  color: var(--hero-text-color);
  background-color: var(--primary-color);
  fill: currentColor;
}
.icon-close {
  display: block;
}
.modal-content {
  margin: 0 auto;
  padding: 72px 24px 24px 24px;
}
.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  color: var(--title-text-color);
}
.modal-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--group-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border 250ms var(--timing-function);
}

.modal-input:focus-visible {
  border: 1px solid var(--accent-color);
  outline: none;
}
.modal-input:focus + .modal-icon {
  color: var(--accent-color);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  pointer-events: none;
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}
.modal-form {
}
.modal-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  resize: none;
}
.modal-textarea::placeholder {
  color: var(--group-color);
}

.modal-accept {
  display: flex;
  margin-top: 16px;
  align-items: center;
}
.icon-check {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  fill: transparent;

  transition: background-color 250ms var(--timing-function),
    border 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.input-check:checked + .icon-check {
  background-color: var(--accent-color);
  border: none;
  fill: var(--team-color);
}

.accept-text {
  color: var(--group-color);
  font-size: 12px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--group-color);
}
.privacy-link {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  color: var(--accent-color);
}
.send-button {
  display: block;
  margin: 0 auto;
  margin-top: 24px;
  padding: 16px 32px;
  min-width: 169px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--hero-text-color);
  background-color: var(--accent-color);

  transition-property: background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}
.send-button:hover,
.send-button:focus {
  background-color: var(--primary-color);
}
